---
import Layout from '@layouts/Layout.astro';
import Breadcrumbs from '@components/Breadcrumbs.astro';
import { Heart } from '@lucide/astro';
import { gatosEnAdopcion } from '../content/gatosEnAdopcion';
---

<Layout
  title="Gatos en adopción"
  description="Descubre los gatos que están buscando un hogar. ¡Adopta y cambia una vida!"
>
  <section class="py-16 bg-primary-content/10 rounded-xl">
    <div class="max-w-7xl mx-auto px-4">
      <h2 class="text-3xl md:text-4xl font-bold text-center mb-4 text-primary">
        Gatos en adopción
      </h2>
      <p
        class="text-center text-base-content/80 max-w-2xl mx-auto mb-10 text-lg"
      >
        ¡Nos alegra que hayas decidido compartir tu vida con un gatito! ¡O con
        dos! Sigue navegando en esta página y te presentaremos a todos los gatos
        que actualmente están en adopción.
      </p>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-2 py-8 mx-auto"
      >
        {
          gatosEnAdopcion.map((cat, idx) => (
            <article class="card bg-white shadow-lg border border-base-200 flex flex-col w-full p-0">
              <div class="relative w-full">
                <img
                  src="/images/about-01.webp"
                  alt={cat.name}
                  width={400}
                  height={300}
                  class="w-full h-56 object-cover rounded-t-2xl"
                  loading="lazy"
                />
                <span class="absolute top-4 right-4 badge badge-soft badge-primary z-10">
                  {cat.age}
                </span>
              </div>
              <div class="card-body items-start text-left w-full">
                <div class="flex justify-between items-center w-full mb-2">
                  <h4 class="card-title text-xl font-bold text-primary mb-0">
                    {cat.name}
                  </h4>
                  <span class="badge badge-ghost">{cat.gender}</span>
                </div>
                <p class="text-base-content/80 mb-2">{cat.description}</p>
                <div class="flex flex-wrap gap-2 mb-4">
                  {cat.tags.map((tag) => (
                    <span class="badge badge-soft badge-primary">{tag}</span>
                  ))}
                </div>
                <a
                  href="/adopta"
                  class="btn btn-primary btn-md w-full flex items-center justify-center gap-2 mt-2"
                >
                  <Heart size="20" />
                  <span>Adoptar a {cat.name}</span>
                </a>
              </div>
            </article>
          ))
        }
      </div>
      <div class="flex justify-center mt-8">
        <a href="/adopta" class="btn btn-primary btn-lg">
          Conoce el proceso de adopción
        </a>
      </div>
    </div>
  </section>
  <Breadcrumbs
    links={[{ label: 'Inicio', href: '/' }, { label: 'Gatos en adopción' }]}
  />
</Layout>
